[Unit]
Description=NGINX PROXY
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx-proxy 
ExecStartPre=-/usr/bin/docker rm nginx-proxy
ExecStart=/usr/bin/docker run -d -p 80:80 --name=nginx-proxy -v /var/run/docker.sock:/tmp/docker.sock:ro -v /opt/php-farm/nginx.tmpl:/app/nginx.tmpl /jwilder/nginx-proxy 
ExecStop=/usr/bin/docker kill nginx-proxy
ExecStop=/usr/bin/docker rm nginx-proxy

[Install]
WantedBy=multi-user.target
